/*-----------Typographic Imports--------------------------------*/
@font-face {
  font-family: 'Whyte Inktrap';
  src: url("../fonts/WhyteInktrap-ExtraLight.eot");
  src: local("../fonts/Whyte Inktrap ExtraLight"), local("WhyteInktrap-ExtraLight"), url("../fonts/WhyteInktrap-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/WhyteInktrap-ExtraLight.woff2") format("woff2"), url("../fonts/WhyteInktrap-ExtraLight.woff") format("woff"), url("../fonts/WhyteInktrap-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url("../fonts/WhyteInktrap-Medium.eot");
  src: local("../fonts/Whyte Inktrap Medium"), local("WhyteInktrap-Medium"), url("../fonts/WhyteInktrap-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/WhyteInktrap-Medium.woff2") format("woff2"), url("../fonts/WhyteInktrap-Medium.woff") format("woff"), url("../fonts/WhyteInktrap-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.forum {
  font-family: 'Whyte Inktrap';
  font-weight: 200;
}

/* --------Breakpoints ------------------------------------------------*/
/* --------Colors + Themes ------------------------------------------------*/
@media (prefers-color-scheme: dark) {
  body {
    --text-color: #ada9ac;
    --darkener: brightness(0.75);
    --img-padding: #310927;
    --footer-bg: hsl(313, 96%, 10%);
    --background-color: hsl(312, 100%, 4%);
    --hero-text-color: #ffffff;
    --header-bg: rgba(50, 1, 39, 0.773);
    --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  body.light-theme {
    --background-color: #E3E3E3;
    --text-color: #320127;
    --darkener: brightness(1);
    --img-padding: hsl(300, 3%, 72%);
    --footer-bg: #d3d3d3;
    --hero-text-color: #320127;
    --header-bg: rgba(255, 255, 255, 0.575);
    --svg-filter: invert(9%) sepia(67%) saturate(1577%) hue-rotate(281deg) brightness(94%) contrast(112%);
  }
}

body {
  --background-color: #E3E3E3;
  --text-color: #320127;
  --darkener: brightness(1);
  --img-padding: hsl(300, 3%, 72%);
  --footer-bg: #d3d3d3;
  --hero-text-color: #320127;
  --header-bg: rgba(255, 255, 255, 0.575);
  --svg-filter: invert(9%) sepia(67%) saturate(1577%) hue-rotate(281deg) brightness(94%) contrast(112%);
}

body.dark-theme {
  --background-color: hsl(312, 100%, 4%);
  --text-color: #ada9ac;
  --darkener: brightness(0.75);
  --img-padding: #310927;
  --footer-bg: #320127;
  --hero-text-color: #ffffff;
  --header-bg: #320127c5;
  --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* --------Typography ------------------------------------------------*/
html {
  font-size: 18px;
  line-height: 27px;
}

h1, h2, h4, h3, h5, p, a, ol, li, figcaption {
  color: var(--text-color);
}

h1 {
  font-size: 65px;
  font-weight: 400;
  line-height: 80px;
}

@media (max-width: 599px) {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
}

h2 {
  font-size: 35px;
  line-height: 42.5px;
}

@media (max-width: 599px) {
  h2 {
    font-size: 24px;
    line-height: 24px;
  }
}

* {
  font-family: 'Lora', serif;
  box-sizing: border-box;
}

.thin {
  font-weight: 200;
}

.semibold {
  font-family: 'Whyte Inktrap';
  font-weight: 500;
}

.normal {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.override {
  color: #320127;
}

.colorful a {
  color: #DAA9A9;
}

/*-------------------------Body Defaults----------------*/
body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  height: 100%;
  position: relative;
  transition: all .6s ease-in-out;
}

/* --------Hero Image -----------------------------------------------*/
.hero__image {
  background-image: none;
  filter: var(--darkener);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

@media (min-width: 900px) {
  .hero__image {
    background-image: url(../images/Marcus-architecture-samp-1.jpg);
    background-size: cover;
  }
}

.hero__intro {
  grid-column: 1 / 6;
  grid-row-start: 3;
  align-self: end;
  padding-left: 120px;
}

@media (max-width: 599px) {
  .hero__intro {
    grid-column: 1 / 6;
    grid-row-start: 4;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.hero__intro--line h1 {
  color: var(--hero-text-color);
  font-size: 3.5em;
  line-height: 1.4em;
  margin: 0 0;
}

@media (max-width: 599px) {
  .hero__intro--line h1 {
    font-size: 2em;
    margin: 0 0;
  }
}

.hero__intro--continue {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3em;
}

.hero__intro--continue img {
  height: 1em;
}

.hero__intro--subtitle {
  margin-left: 1em;
}

.spacer {
  margin-top: 1em;
}

@media (max-width: 599px) {
  .spacer {
    margin-top: 1em;
  }
}

/* -------------------------Header----------------*/
.header {
  z-index: 6;
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: var(--header-bg);
}

@media (max-width: 599px) {
  .header {
    height: 60px;
    width: 100vw;
    background-color: var(--header-bg);
  }
}

.header__nav {
  z-index: 6;
  width: 60px;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1.1em;
}

@media (max-width: 599px) {
  .header__nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 100vw;
    padding: 0;
  }
}

.header__toggle {
  color: var(--text-color);
  margin-top: 3em;
  width: 60px;
  display: flex;
  flex-direction: column;
}

.header__toggle img {
  width: 20px;
  margin-top: -.6em;
  filter: var(--svg-filter);
}

@media (max-width: 599px) {
  .header__toggle {
    width: auto;
    flex-direction: row;
    margin-top: 0;
  }
  .header__toggle img {
    margin-top: 0;
    margin-right: 1.5em;
    margin-left: .5em;
  }
}

.menu-rotated {
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 599px) {
  .menu-rotated {
    transform: none;
  }
}

.header__toggle:hover p {
  color: #c85aa5;
  cursor: pointer;
}

.header__toggle.active p {
  color: #c85aa5;
}

.header__toggle.active:hover p {
  color: #800064;
}

.iframe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --------The Light / Dark Toggle-----------------------------------------------*/
/* --------Full-Screen Popup Navigation-----------------------------------------------*/
.main-nav {
  display: grid;
  grid-template-columns: 60px 55% 45%;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 599px) {
  .main-nav {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .main-nav .nav__right {
    width: 100vw;
  }
}

.main-nav__major-link {
  font-size: 3rem;
  line-height: 1.8;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  transform: translateY(-15px);
  opacity: 0;
  transition: all 0.25s ease;
}

@media (max-width: 599px) {
  .main-nav__major-link {
    font-size: 1.8rem;
  }
}

.main-nav__major-link:hover {
  color: #d647b7;
}

.main-nav__minor-link {
  font-size: 2em;
  line-height: 1.8;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  transform: translateY(-15px);
  opacity: 0;
  transition: all 0.25s ease;
}

.main-nav__minor-link:hover {
  color: #d647b7;
}

@media (max-width: 599px) {
  .main-nav__minor-link {
    font-size: 1.4rem;
    margin-left: -1em;
  }
}

.nav__left-top {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  transform: scaleY(0);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: top;
  display: flex;
  flex-direction: row;
  padding-right: 10%;
  background-color: #3f3d3e;
}

.nav__left-top h2, .nav__left-top p {
  color: white;
}

@media (max-width: 599px) {
  .nav__left-top {
    display: none;
  }
}

.nav__left-bottom {
  background-color: #e7e7e7;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  transform: scaleY(0);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: top;
  display: flex;
  flex-direction: row;
}

.nav__left-bottom img {
  height: 70px;
}

@media (max-width: 599px) {
  .nav__left-bottom {
    display: none;
  }
}

.nav__right {
  background-color: var(--background-color);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  transform: scaleY(0);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__right img {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-15px);
}

@media (max-width: 599px) {
  .nav__right img {
    margin-left: -1em;
  }
}

.main-nav__vertical-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3em;
  align-items: baseline;
  white-space: nowrap;
  padding-left: 3em;
  opacity: 0;
  transition: all 0.3s ease;
}

.main-nav__vertical-text h2 {
  padding: 0;
  margin: 0;
}

.main-nav__about-text {
  padding-left: 3em;
  padding-right: 6em;
  margin-left: 1.5em;
  align-self: center;
}

.main-nav__about-text a {
  color: #d1c8cf;
  text-decoration: underline;
}

.main-nav__about-text p {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-5px);
}

.main-nav__menu-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 4.5em;
}

.main-nav__rotated-text {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  padding-top: .7em;
}

/* ------------SELECTED WORKS -------------*/
.margin10 {
  margin-top: 2em;
}

.case-stack {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .case-stack {
    grid-template-columns: 3em .65fr 2em .35fr 3em;
    grid-column-gap: 5px;
    align-items: center;
  }
}

.case-stack__header {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3em;
  text-align: right;
}

@media (min-width: 600px) {
  .case-stack__header {
    margin-top: 10em;
    grid-column: 2 / 3;
    max-width: 32em;
    justify-self: end;
    padding-left: 0;
    padding-right: 0;
  }
  .case-stack__header h1 {
    margin-bottom: 0;
  }
}

.case-stack__footer {
  padding-bottom: 10em;
  grid-column: 2 / 4;
  max-width: 40em;
  text-align: left;
  justify-self: end;
  padding-top: 3em;
}

.case-stack__footer h1 {
  margin-bottom: 0;
}

@media (max-width: 599px) {
  .case-stack__footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5em;
  }
}

.case {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .case {
    grid-template-columns: 3em .65fr 2em .35fr 3em;
    align-content: center;
    margin-bottom: 8em;
    grid-template-rows: auto;
    overflow-x: auto;
  }
}

.case__image img {
  height: 300px;
  align-self: center;
  margin-right: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 12px;
}

@media (min-width: 600px) {
  .case__image {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
  }
  .case__image img {
    height: 400px;
    align-self: center;
    margin-right: 0;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 12px;
  }
}

.case__sub-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3em 4em;
  align-items: start;
  width: 100vw;
  padding-top: 2em;
}

.case__sub-head h2 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .case__sub-head {
    grid-column: 4 / 5;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-self: center;
    align-items: end;
    grid-template-rows: 1fr;
    width: auto;
    padding-top: 0;
  }
  .case__sub-head p {
    max-width: 20em;
  }
  .case__sub-head h2.thin {
    font-size: 65px;
    line-height: 80px;
  }
}

@media (max-width: 599px) {
  .case__sub-head .item-a {
    grid-column: 1 / 1;
    justify-self: center;
    align-self: center;
  }
  .case__sub-head .item-b {
    grid-column: 1 / 6;
    justify-self: start;
    align-self: center;
    padding-left: 4.5%;
    padding-bottom: 1.5em;
  }
  .case__sub-head .item-c {
    grid-column: 1 / 5;
    padding-left: 5%;
    align-self: center;
  }
  .case__sub-head .item-d {
    grid-column: 5 / 6;
    align-self: center;
  }
}

.case__sub-head a img {
  filter: var(--svg-filter);
}

.case .case__title {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.case .case__title:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
}

.case .case__title:hover:after {
  opacity: 1;
  transform: scale(1);
}

.case .smg img {
  background-color: #cfccce;
  filter: var(--darkener);
  transition: .5s;
}

.case .smg img:hover {
  background-color: #978593;
}

.case .zeguro img {
  background-color: #cfccce;
  filter: var(--darkener);
  transition: .5s;
}

.case .zeguro img:hover {
  background-color: #978593;
}

.case .opera img {
  background-color: #cfccce;
  filter: var(--darkener);
  transition: .5s;
}

.case .opera img:hover {
  background-color: #978593;
}

.case .wetravel img {
  background-color: #cfccce;
  filter: var(--darkener);
  transition: .5s;
}

.case .wetravel img:hover {
  background-color: #978593;
}

.case .transit img {
  background-color: #cfccce;
  filter: var(--darkener);
  transition: .5s;
}

.case .transit img:hover {
  background-color: #978593;
}

.contact-tiles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-top: 1em;
}

.main-nav__menu-contact .contact-tiles {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-15px);
}

.contact-icon {
  margin-right: 1em;
}

.dots {
  grid-column: 4 / 5;
  align-self: start;
  margin-top: 4em;
}

@media (max-width: 599px) {
  .dots {
    display: none;
  }
}

/* -------------- CASE STUDY PAGES CSS -------*/
.study_back {
  position: fixed;
  z-index: 6;
  margin-top: 20em;
  margin-left: 1em;
  width: 60px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 599px) {
  .study_back {
    margin-left: 1em;
    margin-top: 0;
    flex-direction: row;
    align-items: baseline;
  }
}

.study_back img {
  width: 20px;
  margin-top: -.7em;
  filter: var(--svg-filter);
}

@media (max-width: 599px) {
  .study_back img {
    height: 20px;
    margin-left: .5em;
  }
}

.study__hero {
  width: 100vw;
  height: 56vh;
  overflow: hidden;
  position: relative;
  display: block;
  object-fit: cover;
}

.study__hero--overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}

.operatists--hero {
  background-image: url(../images/coline.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .operatists--hero {
    background-position: center;
  }
}

.zeguro--hero {
  background-image: url(../images/fly-d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .zeguro--hero {
    background-position: center;
  }
}

.transit--hero {
  background-image: url(../images/streetcar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .transit--hero {
    background-position: center;
  }
}

.wetravel--hero {
  background-image: url(../images/balloons.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .wetravel--hero {
    background-position: center;
  }
}

.stockmarketgame--hero {
  background-image: url(../images/climb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .stockmarketgame--hero {
    background-position: center;
  }
}

.study__headline {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 3em;
}

@media (max-width: 599px) {
  .study__headline {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.study__headline__header {
  grid-column: 1 / 2;
  align-self: end;
  vertical-align: bottom;
  padding-left: 10%;
}

.study__headline__header h1 {
  margin-bottom: 0;
}

@media (max-width: 599px) {
  .study__headline__header {
    grid-column: auto;
    justify-self: start;
    padding-left: 5%;
  }
}

.study__headline__subheader {
  grid-column: 2 / 3;
  align-self: end;
  vertical-align: bottom;
  padding-bottom: 3.1em;
  padding-left: 5%;
}

.study__headline__subheader h4 {
  margin: 0;
  padding: 0;
}

@media (max-width: 599px) {
  .study__headline__subheader {
    grid-column: auto;
  }
}

.study__metrics {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  margin-top: 3em;
}

@media (max-width: 599px) {
  .study__metrics {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 0;
  }
}

.study__metrics__skills {
  grid-column: 2 / 3;
  padding-top: 4.8em;
}

@media (max-width: 599px) {
  .study__metrics__skills {
    grid-column: 1 / 2;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .study__metrics__skills ul {
    padding-left: 0;
  }
}

.study__metrics__project {
  grid-column: 3 / 4;
  padding-right: 3em;
}

@media (max-width: 599px) {
  .study__metrics__project {
    grid-column: 1 / 2;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.study__metrics__work {
  grid-column: 4 / 5;
  padding-right: 3em;
}

@media (max-width: 599px) {
  .study__metrics__work {
    grid-column: 1 / 2;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.case_images {
  width: 80vw;
  margin-top: 12em;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--img-padding);
  filter: var(--darkener);
}

@media (max-width: 599px) {
  .case_images {
    width: 96vw;
    margin-top: 2em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .case_images img {
    object-fit: cover;
    transform-origin: top;
    height: 100%;
    width: 100%;
  }
}

.cover {
  overflow: hidden;
  padding: 2em;
}

.cover img {
  display: block;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 599px) {
  .cover {
    padding: .4em;
  }
}

.overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 8em;
  padding-top: 8em;
  margin-top: 4em;
  justify-items: center;
  background-color: var(--footer-bg);
}

@media (max-width: 599px) {
  .footer__nav {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 4em;
    padding-top: 4em;
  }
}

.footer__nav__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.footer__nav__left img {
  margin-left: 3em;
  margin-right: 3em;
}

@media (max-width: 599px) {
  .footer__nav__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
  }
  .footer__nav__left img {
    margin-right: 1em;
    margin-left: 1em;
  }
}

.footer__nav__left h2 {
  margin-top: 0;
}

.footer__nav__left h4 {
  margin-bottom: .5em;
}

.footer__nav__right {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: start;
}

.footer__nav__right img {
  margin-left: 3em;
  margin-right: 3em;
}

@media (max-width: 599px) {
  .footer__nav__right {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }
}

.footer__nav__right img {
  margin-left: 1em;
  margin-right: 1em;
}

.footer__nav__right h2 {
  margin-top: 0;
}

.footer__nav__right h4 {
  margin-bottom: .5em;
}

/* --------Transitions-----------------------------------------------*/
/* ---- Page Transition ----*/
ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleX(0);
  background: #320127;
  width: 100vw;
  height: 100%;
}

ul {
  list-style: none;
}
