

/* --------The Light / Dark Toggle-----------------------------------------------*/

.toggle {
    cursor: pointer;
}

button {
    border-radius: 25px;
}





/* --------Full-Screen Popup Navigation-----------------------------------------------*/

.header__toggle {
    position: relative;
    display: inline-block;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    padding: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2em;
    p {
        color: var(--text-color);
    }
    @include for-phone-only {
        margin-bottom: 0;
        margin-left: 1em;
    }
  }
  .header__toggle:hover {
    background-color: #9c7070;
    color: white;
    border-color: #9c7070;
    cursor: pointer;
    p {
        color: white;
    }
  }
  .header__toggle.active {
    color: #c7a6a6;
    border-color: white;
  }
  .header__toggle.active:hover {
    background-color: white;
    color: #9c7070;
  }

.main-nav {
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include for-phone-only {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .nav__right {
            width: 100vw;
        }
    }
}
  
.main-nav__major-link {
    font-size: 2rem;
    line-height: 1.8;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.5s ease;

    &:hover {
        color: white;
    }
}

.main-nav__minor-link {
    font-size: 1.4em;
    line-height: 1.8;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.5s ease;

    &:hover {
        color: white;
    }

    @include for-phone-only {
        font-size: 1.6rem;
        margin-left: -1em;
    }
}


.nav__left-top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: row;
    background-color:#505050;
    h2, p {
        color: #DAA9A9;
    }
    @include for-phone-only {
        display: none;
    }
}

.nav__left-bottom {
    background-color: #F0F0F0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: row;
    h1, p {
        color: black;
    }
    img {
        height: 70px;
    }
    @include for-phone-only {
        display: none;
    }
}

.nav__right {
    background-color: #DAA9A9;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateY(-15px);
        @include for-phone-only {
            margin-left: -1em;
        }
    }
}

.main-nav__vertical-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 3em;
    align-items: baseline;
    white-space: nowrap;
    padding-left: 3em;
    opacity: 0;
    transition: all 0.3s ease;
    h2 {
        padding: 0;
        margin: 0;
    }
}

.main-nav__about-text {
    padding-left: 3em;
    padding-right: 3em;
    align-self: center;
    a {
        color: #F0F0F0;
        text-decoration: underline;
    }
    p {
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateY(-5px);
    }
}

.main-nav__menu-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3em;
}

.main-nav__rotated-text {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    padding-top: .7em;
    padding-left: 2em;
}


/* ------------SELECTED WORKS -------------*/

.margin10 {
    margin-top: 6em;
}

.case-stack {
    display: grid;
    grid-template-columns: 1fr;
    @include for-tablet-portrait-up {
        grid-template-columns: 3em .65fr 2em .35fr 3em;
        grid-column-gap: 5px;
        align-items: center;
    }

    &__header {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3em;
        text-align: right;
    
        @include for-tablet-portrait-up {
            margin-top: 10em;
            grid-column: 2 / 3;
            max-width: 32em;
            justify-self: end;
            padding-left: 0;
            padding-right: 0;
            h1 {
                margin-bottom: 0;
            }
        }
    }

    &__footer {
        padding-bottom: 10em;
        grid-column: 2 / 3;
        max-width: 32em;
        text-align: left;
        justify-self: end;
        margin-top: -4em;
        padding-top: 3em;
        h1 {
            margin-bottom: 0;
        }

        @include for-phone-only {
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5em;
        }
    }
}

.case {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-x: hidden;
    @include for-tablet-portrait-up {
        grid-template-columns: 3em .65fr 2em .35fr 3em;
        align-content: center;
        margin-bottom: 8em;
        grid-template-rows: auto;
        overflow-x: auto;
    }

    &__image {
        img {
            height: 300px;
            align-self: center;
            margin-right: 0;
            padding-left: 1em;
            padding-bottom: 1em;
            padding-top: 1em;
            border-radius: 12px;
        }
        @include for-tablet-portrait-up {
            grid-column: 2 / 3;
            justify-self: end;
            align-self: center;
            img {
                height: 400px;
                align-self: center;
                margin-right: 0;
                padding-left: 2em;
                padding-bottom: 2em;
                padding-top: 2em;
                border-radius: 12px;
            }
        }
    }

    &__sub-head {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 3em 4em;
        align-items: start;
        width: 100vw;
        padding-top: 2em;
        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
        @include for-tablet-portrait-up {
            grid-column: 4 / 5;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            align-self: center;
            align-items: end;
            grid-template-rows: 1fr;
            width: auto;
            padding-top: 0;
            p {
                max-width: 20em;
            }
            h2.thin {
                font-size: 65px;
                line-height: 80px;
            }
        }
    }

    &__sub-head {
        @include for-phone-only {
            .item-a {
                grid-column: 1 / 2;
                justify-self: center;
            }
            .item-b {
                grid-column: 2 / 6;
            }
            .item-c {
                grid-column: 1 / 5;
                padding-left: 5%;
                align-self: center;
            }
            .item-d {
                grid-column: 5 / 6;
                align-self: center;
            }
        }
    }

    .smg {
        img {
            background-color: #CED6D9;
            filter: var(--darkener);
        }
    }
    .zeguro {
        img {
            background-color: #CDD8CC;
            filter: var(--darkener);
        }
    }
    .opera {
        img {
            background-color: #D3D1D8;
            filter: var(--darkener);
        }
    }
    .wetravel {
        img {
            background-color: #E4E0DA;
            filter: var(--darkener);
        }
    }
    .transit {
        img {
            background-color: #EADBD6;
            filter: var(--darkener);
        }
    }
}

.contact-tiles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-top: 1em;
}

.main-nav__menu-contact .contact-tiles {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-15px);
}

.contact-icon {
    margin-right: 1em;
}

.dots {
    grid-column: 4 / 5;
    align-self: start;
    margin-top: 4em;
    @include for-phone-only {
        display: none;
    }
}



/* -------------- CASE STUDY PAGES CSS -------*/

.study_back {
    position: fixed;
    z-index: 2;
    margin-top: 2em;
    margin-left: 2em;
    height: 46px;
    width: 46px;
    background: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.study_back img {
    height: 18px;
}

.study__hero {
    width: 100vw;
    height: 56vh;
    overflow: hidden;
    position: relative;
    display: block;
    object-fit: cover;
}

.study__hero--overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.operatists {
    background-image: url(../images/coline.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @include for-phone-only {
        background-position: center;
    }
}

.study__headline {
    display: grid;
    grid-template-columns:40% 60%;
    margin-top: 3em;
    @include for-phone-only {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.study__headline__header {
    grid-column: 1 / 2;
    align-self: end;
    vertical-align: bottom;
    padding-left: 10%;
    h1 {
        margin-bottom: 0;
    }
    @include for-phone-only {
        grid-column: auto;
        justify-self: start;
        padding-left: 5%;
    }
}

.study__headline__subheader {
    grid-column: 2 / 3;
    align-self: end;
    vertical-align: bottom;
    padding-bottom: 3.1em;
    padding-left: 5%;
    h4 {
        margin: 0;
        padding: 0;
    }
    @include for-phone-only {
        grid-column: auto;
    }
}

.study__metrics {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    margin-top: 3em;
    @include for-phone-only {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 0;
    }
}

.study__metrics__skills {
    grid-column: 2 / 3;
    padding-top: 4.8em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-top: 0;
        padding-left: 5%;
        padding-right: 5%;
        ul {
            padding-left: 0;
        }
    }
}

.study__metrics__project {
    grid-column: 3 / 4;
    padding-right: 3em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.study__metrics__work {
    grid-column: 4 / 5;
    padding-right: 3em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-left: 5%;
        padding-right: 5%;
    }
}


.case_images {
    width: 80vw;
    margin-top: 12em;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 89%);
    @include for-phone-only {
        width: 90vw;
        margin-top: 2em;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        img {
            object-fit: cover;
            transform-origin: top;
            height: 100%;
            width: 100%;
        }
    }
}

.cover {
    overflow: hidden;
    padding: 2em;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
}

.overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: hsl(0, 0%, 89%);
    width: 100%;
    height: 100%;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8em;
    margin-top: 8em;
    justify-items: center;
    @include for-phone-only {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
}

.footer__nav__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img {
        margin-left: 3em;
        margin-right: 3em;
    }
    @include for-phone-only {
        justify-self: start;
        img {
            margin-right: 1em;
        }
    }
    h2 {
        margin-top: 0;
    }
    h4 {
        margin-bottom: .5em;
    }
}

.footer__nav__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img {
        margin-left: 3em;
        margin-right: 3em;
    }
    @include for-phone-only {
        justify-self: end;
        img {
            margin-left: 0.3em;
        }
    }
    h2 {
        margin-top: 0;
    }
    h4 {
        margin-bottom: .5em;
    }
}


/* --------Transitions-----------------------------------------------*/
/* ---- Page Transition ----*/

ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

ul.transition li {
    transform: scaleX(0);
    background: var(--text-color);
    width: 100vw;
    height: 100%;
}

ul {
    list-style: none;
}
