

/* --------The Light / Dark Toggle-----------------------------------------------*/


/* --------Full-Screen Popup Navigation-----------------------------------------------*/

.main-nav {
    display: grid;
    grid-template-columns: 60px 55% 45%;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include for-phone-only {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .nav__right {
            width: 100vw;
        }
    }
}
  
.main-nav__major-link {
    font-size: 3rem;
    line-height: 1.8;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.25s ease;
    @include for-phone-only {
        font-size: 1.8rem;
    }
    &:hover {
        color: #d647b7;
    }
}

.main-nav__minor-link {
    font-size: 2em;
    line-height: 1.8;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    transform: translateY(-15px);
    opacity: 0;
    transition: all 0.25s ease;

    &:hover {
        color: #d647b7;
    }

    @include for-phone-only {
        font-size: 1.4rem;
        margin-left: -1em;
    }
}


.nav__left-top {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    background-color: #3f3d3e;
    h2, p {
        color: white;
    }
    @include for-phone-only {
        display: none;
    }
}

.nav__left-bottom {
    background-color: #e7e7e7;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: row;

    img {
        height: 70px;
    }
    @include for-phone-only {
        display: none;
    }
}

.nav__right {
    background-color: var(--right-nav-bg);
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateY(-15px);
        @include for-phone-only {
            margin-left: -1em;
        }
    }
}

.main-nav__vertical-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 3em;
    align-items: baseline;
    white-space: nowrap;
    padding-left: 3em;
    opacity: 0;
    transition: all 0.3s ease;
    h2 {
        padding: 0;
        margin: 0;
    }
}

.main-nav__about-text {
    padding-left: 3em;
    padding-right: 6em;
    margin-left: 1.5em;
    align-self: center;
    a {
        color: #d1c8cf;
        text-decoration: underline;
    }
    p {
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateY(-5px);
    }
}

.main-nav__menu-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4.5em;
}

.main-nav__rotated-text {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    padding-top: .7em;
}


/* ------------SELECTED WORKS -------------*/

.margin10 {
    margin-top: 2em;
}

.case-stack {
    display: grid;
    grid-template-columns: 1fr;
    @include for-tablet-portrait-up {
        grid-template-columns: 3em .65fr 2em .35fr 3em;
        grid-column-gap: 5px;
        align-items: center;
    }

    &__header {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3em;
        text-align: right;
    
        @include for-tablet-portrait-up {
            margin-top: 10em;
            grid-column: 2 / 3;
            max-width: 32em;
            justify-self: end;
            padding-left: 0;
            padding-right: 0;
            h1 {
                margin-bottom: 0;
            }
        }
    }

    &__footer {
        padding-bottom: 10em;
        grid-column: 2 / 4;
        max-width: 40em;
        text-align: left;
        justify-self: end;
        padding-top: 3em;
        h1 {
            margin-bottom: 0;
        }

        @include for-phone-only {
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5em;
        }
    }
}

.case {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-x: hidden;
    @include for-tablet-portrait-up {
        grid-template-columns: 3em .65fr 2em .35fr 3em;
        align-content: center;
        margin-bottom: 8em;
        grid-template-rows: auto;
        overflow-x: auto;
    }

    &__image {
        img {
            height: 300px;
            align-self: center;
            margin-right: 0;
            padding-left: 1em;
            padding-bottom: 1em;
            padding-top: 1em;
            border-radius: 12px;
        } 
        @include for-tablet-portrait-up {
            grid-column: 2 / 3;
            justify-self: end;
            align-self: center;
            img {
                height: 400px;
                align-self: center;
                margin-right: 0;
                padding-left: 2em;
                padding-bottom: 2em;
                padding-top: 2em;
                border-radius: 12px;
            }
        }
    }

    &__sub-head {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 3em 4em;
        align-items: start;
        width: 100vw;
        padding-top: 2em;
        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
        @include for-tablet-portrait-up {
            grid-column: 4 / 5;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            align-self: center;
            align-items: end;
            grid-template-rows: 1fr;
            width: auto;
            padding-top: 0;
            p {
                max-width: 20em;
            }
            h2.thin {
                font-size: 65px;
                line-height: 80px;
            }
        }
    }

    &__sub-head {
        @include for-phone-only {
            .item-a {
                grid-column: 1 / 1;
                justify-self: center;
                align-self: center;
            }
            .item-b {
                grid-column: 1 / 6;
                justify-self: start;
                align-self: center;
                padding-left: 4.5%;
                padding-bottom: 1.5em;
            }
            .item-c {
                grid-column: 1 / 5;
                padding-left: 5%;
                align-self: center;
            }
            .item-d {
                grid-column: 5 / 6;
                align-self: center;
            }
        }
    }

    &__sub-head a img {
        filter: var(--svg-filter);
    }

    .case__title {
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    .case__title:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 1px solid;
      margin-top: 10px;
      opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }
    
    .case__title:hover:after {
      opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


    .smg {
        img {
            background-color: #cfccce;
            filter: var(--darkener);
            transition: .5s;
        } 
        img:hover {
            background-color: #978593;
        }
    }
    .zeguro {
        img {
            background-color: #cfccce;
            filter: var(--darkener);
            transition: .5s;
        } 
        img:hover {
            background-color: #978593;
        }
    }
    .opera {
        img {
            background-color: #cfccce;
            filter: var(--darkener);
            transition: .5s;
        } 
        img:hover {
            background-color: #978593;
        }
    }
    .wetravel {
        img {
            background-color: #cfccce;
            filter: var(--darkener);
            transition: .5s;
        } 
        img:hover {
            background-color: #978593;
        }
    }
    .transit {
        img {
            background-color: #cfccce;
            filter: var(--darkener);
            transition: .5s;
        } 
        img:hover {
            background-color: #978593;
        }
    }
}

.contact-tiles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-top: 1em;
}

.main-nav__menu-contact .contact-tiles {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-15px);
}

.contact-icon {
    margin-right: 1em;
}

.dots {
    grid-column: 4 / 5;
    align-self: start;
    margin-top: 4em;
    @include for-phone-only {
        display: none;
    }
}



/* -------------- CASE STUDY PAGES CSS -------*/

.study_back {
    position: fixed;
    z-index: 6;
    margin-top: 20em;
    margin-left: 1em;
    width: 60px;
    display: flex;
    flex-direction: column;
    @include for-phone-only {
        margin-left: 1em;
        margin-top: 0;
        flex-direction: row;
        align-items: baseline;
    }
}

.study_back img {
    width: 20px;
    margin-top: -.7em;
    filter: var(--svg-filter);
    @include for-phone-only {
        height: 20px;
        margin-left: .5em;
    }
}

.study__hero {
    width: 100vw;
    height: 56vh;
    overflow: hidden;
    position: relative;
    display: block;
    object-fit: cover;
}

.study__hero--overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.operatists--hero {
    background-image: url(../images/coline.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @include for-phone-only {
        background-position: center;
    }
}

.zeguro--hero {
    background-image: url(../images/fly-d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @include for-phone-only {
        background-position: center;
    }
}

.transit--hero {
    background-image: url(../images/streetcar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @include for-phone-only {
        background-position: center;
    }
}

.wetravel--hero {
    background-image: url(../images/balloons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @include for-phone-only {
        background-position: center;
    }
}

.stockmarketgame--hero {
    background-image: url(../images/climb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @include for-phone-only {
        background-position: center;
    }
}

.study__headline {
    display: grid;
    grid-template-columns:40% 60%;
    margin-top: 3em;
    @include for-phone-only {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.study__headline__header {
    grid-column: 1 / 2;
    align-self: end;
    vertical-align: bottom;
    padding-left: 10%;
    h1 {
        margin-bottom: 0;
    }
    @include for-phone-only {
        grid-column: auto;
        justify-self: start;
        padding-left: 5%;
    }
}

.study__headline__subheader {
    grid-column: 2 / 3;
    align-self: end;
    vertical-align: bottom;
    padding-bottom: 3.1em;
    padding-left: 5%;
    h4 {
        margin: 0;
        padding: 0;
    }
    @include for-phone-only {
        grid-column: auto;
    }
}

.study__metrics {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    margin-top: 3em;
    @include for-phone-only {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 0;
    }
}

.study__metrics__skills {
    grid-column: 2 / 3;
    padding-top: 4.8em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-top: 0;
        padding-left: 5%;
        padding-right: 5%;
        ul {
            padding-left: 0;
        }
    }
}

.study__metrics__project {
    grid-column: 3 / 4;
    padding-right: 3em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.study__metrics__work {
    grid-column: 4 / 5;
    padding-right: 3em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-left: 5%;
        padding-right: 5%;
    }
}


.case_images {
    width: 80vw;
    margin-top: 12em;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--img-padding);
    filter: var(--darkener);
    @include for-phone-only {
        width: 96vw;
        margin-top: 2em;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        img {
            object-fit: cover;
            transform-origin: top;
            height: 100%;
            width: 100%;
        }
    }
}

.cover {
    overflow: hidden;
    padding: 2em;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
    @include for-phone-only {
        padding: .4em;
    }
}

.overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 8em;
    padding-top: 8em;
    margin-top: 4em;
    justify-items: center;
    background-color: var(--footer-bg);
    @include for-phone-only {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 4em;
        padding-top: 4em;
    }
}

.footer__nav__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: end;
    img {
        margin-left: 3em;
        margin-right: 3em;
    }
    @include for-phone-only {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        img {
            margin-right: 1em;
            margin-left: 1em;
        }
    }
    h2 {
        margin-top: 0;
    }
    h4 {
        margin-bottom: .5em;
    }
}

.footer__nav__right {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: start;
    img {
        margin-left: 3em;
        margin-right: 3em;
    }
    @include for-phone-only {
        display: flex;
        width: 100vw;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
    } img {
        margin-left: 1em;
        margin-right: 1em;
    }
    h2 {
        margin-top: 0;
    }
    h4 {
        margin-bottom: .5em;
    }
}


/* --------Transitions-----------------------------------------------*/
/* ---- Page Transition ----*/

ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

ul.transition li {
    transform: scaleX(0);
    background: #320127;
    width: 100vw;
    height: 100%;
}

ul {
    list-style: none;
}
