//Typographic Imports
//Breakpoints
//Variables
//Typography
//Body Defaults



/*-----------Typographic Imports--------------------------------*/


  @font-face {
    font-family: 'Whyte Inktrap';
    src: url('../fonts/WhyteInktrap-ExtraLight.eot');
    src: local('../fonts/Whyte Inktrap ExtraLight'), local('WhyteInktrap-ExtraLight'),
        url('../fonts/WhyteInktrap-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WhyteInktrap-ExtraLight.woff2') format('woff2'),
        url('../fonts/WhyteInktrap-ExtraLight.woff') format('woff'),
        url('../fonts/WhyteInktrap-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Whyte Inktrap';
    src: url('../fonts/WhyteInktrap-Medium.eot');
    src: local('../fonts/Whyte Inktrap Medium'), local('WhyteInktrap-Medium'),
        url('../fonts/WhyteInktrap-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WhyteInktrap-Medium.woff2') format('woff2'),
        url('../fonts/WhyteInktrap-Medium.woff') format('woff'),
        url('../fonts/WhyteInktrap-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

  @font-face {
    font-family: 'Whyte Inktrap Book';
    src: url('WhyteInktrap-BookItalic.eot');
    src: local('Whyte Inktrap Book Italic'), local('WhyteInktrap-BookItalic'),
        url('WhyteInktrap-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('WhyteInktrap-BookItalic.woff2') format('woff2'),
        url('WhyteInktrap-BookItalic.woff') format('woff'),
        url('WhyteInktrap-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.forum {
    font-family: 'Whyte Inktrap';
    font-weight: 200;
}




/* --------Breakpoints ------------------------------------------------*/

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }




/* --------Colors + Themes ------------------------------------------------*/

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #ffffff;
        --darkener: brightness(0.95);
        --img-padding: #363636;
        --background-color: hsl(312, 100%, 4%);
        --hero-text-color: #f76374;
        --header-bg: rgb(157, 135, 152);
        --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        --right-nav-bg: rgb(157, 135, 152);
        --smg-bg: #70573B;
        --zeguro-bg: #36426B;
        --operatists-bg: #4A3565;
        --wetravel-bg: #807D3E;
        --streetcars-bg: #366072;
        --bw: black;
        --transition-bg: #a14949;
    }

    body.light-theme {
        --background-color: #ffffff;
        --text-color: #000000;
        --darkener: brightness(1);
        --img-padding: #e2e2e2;
        --hero-text-color: #000000;
        --header-bg: rgb(157, 135, 152);
        --svg-filter: none;
        --right-nav-bg: rgb(157, 135, 152);
        --smg-bg: #FFC98C;
        --zeguro-bg: #839EFF;
        --operatists-bg: #BC87FF;
        --wetravel-bg: #FFFA77;
        --streetcars-bg: #7CD8FF;
        --bw: white;
        --transition-bg: #ff7070;

    }
}

body {
    --background-color: #ffffff;
    --text-color: #000000;
    --darkener: brightness(1);
    --img-padding: #e2e2e2;
    --footer-bg: #d3d3d3;
    --hero-text-color: #000000;
    --header-bg: rgb(157, 135, 152);
    --svg-filter: none;
    --right-nav-bg: #9d8798;
    --smg-bg: #FFC98C;
    --zeguro-bg: #839EFF;
    --operatists-bg: #BC87FF;
    --wetravel-bg: #FFFA77;
    --streetcars-bg: #7CD8FF;
    --bw: white;
    --transition-bg: #ff7070;

}

body.dark-theme {
    --background-color: hsl(312, 100%, 4%);
    --text-color: #ffffff;
    --darkener: brightness(0.95);
    --img-padding: #363636;
    --hero-text-color: #f76374;
    --header-bg: rgb(157, 135, 152);
    --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    --right-nav-bg: rgb(157, 135, 152);
    --smg-bg: #70573B;
    --zeguro-bg: #36426B;
    --operatists-bg: #4A3565;
    --wetravel-bg: #807D3E;
    --streetcars-bg: #366072;
    --bw: black;
    --transition-bg: #a14949;

}


/* --------Typography ------------------------------------------------*/

html {
    font-size: 18px;
    line-height: 27px;
}

h1, h2, h4, h3, h5, p, a, ol, li, figcaption {
    color: var(--text-color);
}

h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
    @include for-phone-only {
        font-size: 36px;
        line-height: 36px;
    }
}

h2 {
    font-size: 35px;
    line-height: 42.5px;
    @include for-phone-only {
        font-size: 24px;
        line-height: 24px;
    }
}


* {
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

.thin {
    font-weight: 200;
}

.semibold {
    font-family: 'Whyte Inktrap';
    font-weight: 500;
}

.normal {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.colorful a {
    color: #000000;
}


.transition__h1 {
    color: var(--text-color);
    font-family: 'Whyte Inktrap';
    font-weight: 200;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;

}

.first-word:first-child {
    font-family: 'Whyte Inktrap';
    font-weight: 200;
}


.smg {
    background-color: var(--smg-bg);
}
.zeguro {
    background-color: var(--zeguro-bg);
}
.operatists {
    background-color: var(--operatists-bg);
}
.wetravel {
    background-color: var(--wetravel-bg);
}
.streetcars {
    background-color: var(--streetcars-bg);
}

/*-------------------------Body Defaults----------------*/

:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 5px;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    height: 100%;
    position: relative;
    transition: all .6s ease-in-out;
}


/*-------------------------The Arrows-----------------------*/
