//Typographic Imports
//Breakpoints
//Variables
//Typography
//Body Defaults



/*-----------Typographic Imports--------------------------------*/


  @font-face {
    font-family: 'Whyte Inktrap';
    src: url('../fonts/WhyteInktrap-ExtraLight.eot');
    src: local('../fonts/Whyte Inktrap ExtraLight'), local('WhyteInktrap-ExtraLight'),
        url('../fonts/WhyteInktrap-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WhyteInktrap-ExtraLight.woff2') format('woff2'),
        url('../fonts/WhyteInktrap-ExtraLight.woff') format('woff'),
        url('../fonts/WhyteInktrap-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Whyte Inktrap';
    src: url('../fonts/WhyteInktrap-Medium.eot');
    src: local('../fonts/Whyte Inktrap Medium'), local('WhyteInktrap-Medium'),
        url('../fonts/WhyteInktrap-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WhyteInktrap-Medium.woff2') format('woff2'),
        url('../fonts/WhyteInktrap-Medium.woff') format('woff'),
        url('../fonts/WhyteInktrap-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.forum {
    font-family: 'Whyte Inktrap';
    font-weight: 200;
}




/* --------Breakpoints ------------------------------------------------*/

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }




/* --------Colors + Themes ------------------------------------------------*/

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #ada9ac;
        --darkener: brightness(0.75);
        --img-padding: #310927;
        --footer-bg: hsl(313, 96%, 10%);
        --background-color: hsl(312, 100%, 4%);
        --hero-text-color: #ffffff;
        --header-bg: rgba(50, 1, 39, 0.773);
        --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    body.light-theme {
        --background-color: #E3E3E3;
        --text-color: #320127;
        --darkener: brightness(1);
        --img-padding: hsl(300, 3%, 72%);
        --footer-bg: #d3d3d3;
        --hero-text-color: #320127;
        --header-bg: rgba(255, 255, 255, 0.575);
        --svg-filter: invert(9%) sepia(67%) saturate(1577%) hue-rotate(281deg) brightness(94%) contrast(112%);
    }
}

body {
    --background-color: #E3E3E3;
    --text-color: #320127;
    --darkener: brightness(1);
    --img-padding: hsl(300, 3%, 72%);
    --footer-bg: #d3d3d3;
    --hero-text-color: #320127;
    --header-bg: rgba(255, 255, 255, 0.575);
    --svg-filter: invert(9%) sepia(67%) saturate(1577%) hue-rotate(281deg) brightness(94%) contrast(112%);
}

body.dark-theme {
    --background-color: hsl(312, 100%, 4%);
    --text-color: #ada9ac;
    --darkener: brightness(0.75);
    --img-padding: #310927;
    --footer-bg: #320127;
    --hero-text-color: #ffffff;
    --header-bg: #320127c5;
    --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}


/* --------Typography ------------------------------------------------*/

html {
    font-size: 18px;
    line-height: 27px;
}

h1, h2, h4, h3, h5, p, a, ol, li, figcaption {
    color: var(--text-color);
}

h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
    @include for-phone-only {
        font-size: 36px;
        line-height: 36px;
    }
}

h2 {
    font-size: 35px;
    line-height: 42.5px;
    @include for-phone-only {
        font-size: 24px;
        line-height: 24px;
    }
}

* {
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

.thin {
    font-weight: 200;
}

.semibold {
    font-family: 'Whyte Inktrap';
    font-weight: 500;
}

.normal {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.override {
    color:hsl(313, 96%, 10%);
}


.colorful a {
    color: #DAA9A9;
}




/*-------------------------Body Defaults----------------*/

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    height: 100%;
    position: relative;
    transition: all .6s ease-in-out;
}
