
/* --------Hero Image -----------------------------------------------*/

.hero__image {
    background-image: url(../images/background@2x.png);
    filter: var(--darkener);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    @include for-tablet-landscape-up {
        background-image: url(../images/mt_background@4x.png);
        background-size: cover;
    }
}

.hero__intro {
    grid-column: 2 / 5;
    grid-row-start: 4;
    align-self: end;
    @include for-phone-only {
        grid-column: 1 / 6;
        grid-row-start: 4;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.hero__intro--line h1 {
    color: var(--hero-text-color);
    font-size: clamp(2rem, 7.5vw, 4rem);
    line-height: 1.4em;
    margin: 0 0;
    /*
    @include for-phone-only {
        font-size: 2em;
        margin: 0 0;
        color: var(--text-color);
    }*/
}

.spacer {
    margin-top: 1em;
    @include for-phone-only {
        margin-top: 1em;
    }
}



/* -------------------------Header----------------*/

.header {
    z-index: 6;
    position: fixed;
    width: 100vw;

}

.header__nav {
    z-index: 6;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    @include for-phone-only {
        background-color: var(--background-color);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding-left: 5%;
    }
}

.monogram {
    filter: var(--svg-filter);
    @include for-phone-only {
        height: 20px;
        margin-bottom: 6px;
    }
}

.header__icon {
    filter: var(--svg-filter);
}

.header__toggle {
    display: flex;
    flex-direction: row;
    p {
        padding-right: .5em;
        padding-left: .5em;
        margin-right: 1em;
    }
    @include for-phone-only {
        width: auto;
        flex-direction: row;
        margin-top: 0;
    }
  }

  .header__toggle--item p {
      color: var(--text-color);
      font-family: 'Whyte Inktrap Extralight';
      font-size: 24px;
      margin-top: 1.4em;
      @include for-phone-only {
          font-size: 18px;
      }
  }

  .header__toggle--item {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .header__toggle:hover {
    p {
        cursor: pointer;
    }
  }
  .header__toggle.active {
    p {
        font-family: 'Whyte Inktrap';
    }
  }

  /*
  .header__toggle.active:hover {
    
  }*/

  .strikethrough {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .strikethrough:before, .strikethrough:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 35%;
    background: var(--text-color);
  }
  
  .strikethrough:before {
    left: -1.5px;
  }
  .strikethrough:after {
    right: 2.5px;
    background: var(--text-color);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .strikethrough:hover:before {
    background: var(--text-color);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .strikethrough:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  


.iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
