
/* --------Hero Image -----------------------------------------------*/

.hero__image {
    background-image: none;
    filter: var(--darkener);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    @include for-tablet-landscape-up {
        background-image: url(../images/Marcus-architecture-samp-1.jpg);
        background-size: cover;
    }
}

.hero__intro {
    grid-column: 1 / 6;
    grid-row-start: 3;
    align-self: end;
    padding-left: 120px;
    @include for-phone-only {
        grid-column: 1 / 6;
        grid-row-start: 4;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.hero__intro--line h1 {
    color: #320127;
    font-size: 3.5em;
    line-height: 1.4em;
    margin: 0 0;
    @include for-phone-only {
        font-size: 2em;
        margin: 0 0;
    }
}

.hero__intro--continue {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
    img {
        height: 1em;
    }
}

.hero__intro--subtitle {
    margin-left: 1em;
}

.spacer {
    margin-top: 1em;
    @include for-phone-only {
        margin-top: 1em;
    }
}



/* -------------------------Header----------------*/

.header {
    z-index: 6;
    position: fixed;
    width: 60px;
    height: 100vh;
    background-color: var(--header-bg);
    @include for-phone-only {
        height: 60px;
        width: 100vw;
        background-color: var(--header-bg);
    }
}

.header__nav {
    z-index: 6;
    width: 60px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1.1em;
    @include for-phone-only {
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        width: 100vw;
        padding: 0;
    }
}

.header__toggle {
    margin-top: 3em;
    width: 60px;
    display: flex;
    flex-direction: column;
    img {
        width: 20px;
        margin-top: -.6em;
        filter: var(--svg-filter);
    }
    @include for-phone-only {
        width: auto;
        flex-direction: row;
        margin-top: 0;
        img {
            margin-top: 0;
            margin-right: 1.5em;
            margin-left: .5em;
        }
    }
  }

  .menu-rotated {
    transform-origin:bottom left;
    transform: rotate(-90deg) translateY(100%);
    transition: all 0.3s ease-in-out;
    @include for-phone-only {
        transform: none;
    }
  }

  .header__toggle p {
      color: black;
      font-family: 'Whyte Inktrap';
  }

  .header__toggle:hover {
    p {
        color: #ffffff;
        cursor: pointer;
    }
  }
  .header__toggle.active {
    p {
        color: #6d365b;
    }
  }

  .header__toggle.active:hover {
    p {
        color: #ffffff;
    }
  }


.iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}