
/* --------Hero Image -----------------------------------------------*/

.hero__image {
    background-image: var(--overlay), url(../images/me.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    @include for-tablet-landscape-up {
        background-image: url(../images/me.png);
        background-size: 40%;
    }
}

.hero__intro {
    grid-column: 3 / 6;
    grid-row-start: 4;
    align-self: end;
    padding-left: 60px;

    @include for-phone-only {
        grid-column: 1 / 6;
        grid-row-start: 4;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.hero__intro--line {
    height: 5.2rem;
    position: relative;
    overflow: hidden;
    h1 {
        position: absolute;
        line-height: 2rem;
    }
    @include for-phone-only {
        height: 3.4rem;
    }
}

.hero__intro--spacer {  
    margin-top: 3em;
    @include for-phone-only {
        margin-top: 0;
    }
}

.hero__intro--continue {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
    img {
        height: 1em;
    }
}

.hero__intro--subtitle {
    margin-left: 1em;
}



/* -------------------------Header----------------*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    @include for-phone-only {
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 1em;
    }
}

.header__nav {
    z-index: 6;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-phone-only {
        flex-direction: row;
        justify-content: space-between;
        scale: .9;
    }
}