@warn 'Uh-oh, something looks weird.';

@font-face {
    font-family: 'Cooper Hewitt';
      src: url('fonts/CooperHewitt-Book.eot'); /* IE9 Compat Modes */
      src: url('fonts/CooperHewitt-Book.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/CooperHewitt-Book.svg') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }

@font-face {
    font-family: 'Cooper Hewitt';
      src: url('fonts/CooperHewitt-Semibold.eot'); /* IE9 Compat Modes */
      src: url('fonts/CooperHewitt-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/CooperHewitt-Semibold.svg') format('svg'); /* Legacy iOS */
      font-weight: 600;
  }

@font-face {
    font-family: 'Cooper Hewitt';
      src: url('fonts/CooperHewitt-ThinItalic.eot'); /* IE9 Compat Modes */
      src: url('fonts/CooperHewitt-ThinItalic.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/CooperHewitt-ThinItalic.svg') format('svg'); /* Legacy iOS */
      font-weight: 200;
  }

/* --------Colors + Themes ------------------------------------------------*/

@media (prefers-color-scheme: dark) {
    body {
        --background-color: #555555;
        --text-color: #F3F3F3;
        --overlay: linear-gradient(0deg, rgba(11,29,105,0.7973390039609594) 28%, rgba(11,29,105,0.44439782749037116) 100%);
        --darkener: brightness(0.8);
        /*
        --personal-overlay: linear-gradient(90deg, rgba(21,33,69,1) 0%, rgba(21,33,69,0.7469188358937324) 48%, rgba(21,33,69,0.39117653897496496) 73%);
        --highlight-color: #BC2B74;
        --icon-filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(29deg) brightness(101%) contrast(113%);
        */
    }
    body.light-theme {
        --background-color: #F3F3F3;
        --text-color: #555555;
        --overlay: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(243,243,243,0.5704482476584384) 53%, rgba(243,243,243,0.4780112728685224) 61%, rgba(243,243,243,0) 100%);
        --darkener: brightness(1);
        /*
        --personal-overlay: linear-gradient(90deg, rgba(246,246,236,1) 0%, rgba(246,246,236,1) 35%, rgba(246,246,236,0) 100%);
        --highlight-color: #21C6E8;
        --icon-filter: invert(0%) sepia(0%) saturate(7486%) hue-rotate(0deg) brightness(107%) contrast(103%);
        */
    }
}

body {
    --background-color: #F3F3F3;
    --text-color: #555555;
    --overlay: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(243,243,243,0.5704482476584384) 53%, rgba(243,243,243,0.4780112728685224) 61%, rgba(243,243,243,0) 100%);
    --darkener: brightness(1);
    /*
    --personal-overlay: linear-gradient(90deg, rgba(246,246,236,1) 0%, rgba(246,246,236,0.6460959383753502) 31%, rgba(246,246,236,0) 50%);
    --highlight-color: #BC2B74;
    --icon-filter: invert(0%) sepia(0%) saturate(7486%) hue-rotate(0deg) brightness(107%) contrast(103%);
    */
}

body.dark-theme {
    --background-color: #555555;
    --text-color: #F3F3F3;
    --overlay: linear-gradient(0deg, rgba(11,29,105,0.7973390039609594) 28%, rgba(11,29,105,0.44439782749037116) 100%);  
    --darkener: brightness(0.8);
    /*
    --personal-overlay: linear-gradient(90deg, rgba(21,33,69,1) 0%, rgba(21,33,69,0.7469188358937324) 48%, rgba(21,33,69,0.39117653897496496) 73%);
    --highlight-color: #21C6E8;
    --icon-filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(29deg) brightness(101%) contrast(113%);
    */
}


/* --------Breakpoints ------------------------------------------------*/


@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

/* --------Typography ------------------------------------------------*/

html {
    font-size: 18px;
    line-height: 27px;
}

h1, h2, h4, h3, h5, p, a, ol, li, figcaption {
    color: var(--text-color);
}

h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
    @include for-phone-only {
        font-size: 36px;
        line-height: 36px;
    }
}

h2 {
    font-size: 35px;
    line-height: 42.5px;
    font-weight: 300;
    @include for-phone-only {
        font-size: 24px;
        line-height: 24px;
    }
}

* {
    font-family: 'Cooper Hewitt', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
  

.thin {
    font-weight: 300;
}

.semibold {
    font-weight: 600;
}

.normal {
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* --------Landing Page -----------------------------------------------*/


body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    height: 100%;
    position: relative;
    transition: all .6s ease-in-out;

}

.hero-image {
    background-image: var(--overlay), url(images/me.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; // 5 rows
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; // 5 columns
    grid-gap: 5px; // 5x5 works well for centering
    @include for-tablet-landscape-up {
        background-image: url(images/me.png);
        background-size: 40%;
    }
}

.hero-intro {
    grid-column: 3 / 6;
    grid-row-start: 4;
    align-self: end;
    padding-left: 60px;
    img {
        margin-top: 3em;
    }
    @include for-phone-only {
        grid-column: 1 / 6;
        grid-row-start: 4;
        padding-left: 1em;
        padding-right: 1em;
        img {
            height: 48px;
        }
    }
}

.hero-intro .line {
    height: 5.2rem;
    position: relative;
    overflow: hidden;
    @include for-phone-only {
        height: 3.4rem;
    }
}

.hero-intro .line h1 {
    position: absolute;
    line-height: 2rem;
}


/*-----for the split text on hero image-------*/
.spacer {
    margin-top: 3em;
    @include for-phone-only {
        margin-top: 0;
    }
}

footer {
    width: 100vw;
    background-color: var(--background-color);
    height: 16px;
}


/* --------The Light / Dark Toggle-----------------------------------------------*/

.toggle {
    cursor: pointer;
}

/* --------END The Light / Dark Toggle-----------------------------------------------*/



header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    @include for-phone-only {
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 1em;
    }

    .header__right {
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include for-phone-only {
            flex-direction: row;
            justify-content: space-between;
            scale: .9;
        }
    }

    .me__home {
        @include for-phone-only {
            display: none;
        }

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        opacity: 0;
        margin-left: -20px;
        h4, p { 
            margin: 0;
            padding: 0;
        }
        img {
            padding-top: 5px;
        }
        p {
            font-size: 12px;
            margin-bottom: -.5em;
        }
        h4 {
            opacity: .75;
            font-size: 12px;
        }
    }
    
    .me__home__text {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }
}

button {
    border-radius: 25px;
}


/* --------Transitions-----------------------------------------------*/
/* ---- Page Transition ----*/

ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

ul.transition li {
    transform: scaleX(0);
    background: #415879;
    width: 100vw;
    height: 100%;
}

ul {
    list-style: none;
}

/* ---- END Page Transition ----*/
/* --------PopOver Navigation-----------------------------------------------*/

.nav_toggle {
    position: relative;
    display: inline-block;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: transparent;
    padding: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2em;
    p {
        color: var(--text-color);
    }
    @include for-phone-only {
        margin-bottom: 0;
        margin-left: 1em;
    }
  }
  .nav_toggle:hover {
    background-color: #9c7070;
    color: white;
    border-color: #9c7070;
    cursor: pointer;
    p {
        color: white;
    }
  }
  .nav_toggle.active {
    color: white;
    border-color: white;
  }
  .nav_toggle.active:hover {
    background-color: white;
    color: #9c7070;
  }

.nav {
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    @include for-phone-only {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .nav__right {
            width: 100vw;
        }
    }
}
  
.nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav__right ul li a {
    font-size: 2rem;
    line-height: 1.8;
    display: inline-block;
    color: black;
    opacity: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    transform: translateY(-15px);
    @include for-phone-only {
        font-size: 1.6rem;
        margin-left: -1em;
    }
}
.nav li a:hover {
    color: white;
}

#submenu li a {
    font-size: 1.4rem;
    @include for-phone-only {
        font-size: 1rem;
    }
}

.nav__left-top {
    background-color:#505050;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: row;
    h2, p {
        color: #DAA9A9;
    }
    @include for-phone-only {
        display: none;
    }
}

.nav__left-bottom {
    background-color: #F0F0F0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: row;
    h1, p {
        color: black;
    }
    img {
        height: 70px;
    }
    @include for-phone-only {
        display: none;
    }
}

.nav__right {
    background-color: #DAA9A9;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    transform: scaleY(0);
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul li {
        text-align: left;
    }
    img {
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateY(-15px);
        @include for-phone-only {
            margin-left: -1em;
        }
    }
}

.vertical-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 3em;
    align-items: baseline;
    white-space: nowrap;
    padding-left: 3em;
    opacity: 0;
    transition: all 0.3s ease;
    h2 {
        padding: 0;
        margin: 0;
    }
}

.about-text {
    padding-left: 3em;
    padding-right: 3em;
    align-self: center;
    a {
        color: #F0F0F0;
        text-decoration: underline;
    }
    p {
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateY(-5px);
    }
}

.menu-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3em;
}

.rotated {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    padding-top: .7em;
    padding-left: 2em;
}

/* ------------SELECTED WORKS -------------*/
.margin10 {
    margin-top: 6em;
}

.selected-works {
    display: grid;
    grid-template-columns: 1fr;
    @include for-tablet-portrait-up {
        grid-template-columns: 3em .65fr 2em .35fr 3em;
        grid-column-gap: 5px;
        align-items: center;
    }
}

.selected-works__header {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3em;
    text-align: right;

    @include for-tablet-portrait-up {
        margin-top: 10em;
        grid-column: 2 / 3;
        max-width: 32em;
        justify-self: end;
        padding-left: 0;
        padding-right: 0;
        h1 {
            margin-bottom: 0;
        }
    }
}

.selected-works__footer {
    padding-bottom: 10em;
    grid-column: 2 / 3;
    max-width: 32em;
    text-align: left;
    justify-self: end;
    margin-top: -4em;
    padding-top: 3em;
    h1 {
        margin-bottom: 0;
    }

    @include for-phone-only {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5em;
    }
}

.selected-works__tile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-x: hidden;
    @include for-tablet-portrait-up {
        grid-template-columns: 3em .65fr 2em .35fr 3em;
        align-content: center;
        margin-bottom: 8em;
        grid-template-rows: auto;
        overflow-x: auto;
    }
}

.selected-works__image {
    img {
        height: 300px;
        align-self: center;
        margin-right: 0;
        padding-left: 1em;
        padding-bottom: 1em;
        padding-top: 1em;
        border-radius: 12px;
    }
    @include for-tablet-portrait-up {
        grid-column: 2 / 3;
        justify-self: end;
        align-self: center;
        img {
            height: 400px;
            align-self: center;
            margin-right: 0;
            padding-left: 2em;
            padding-bottom: 2em;
            padding-top: 2em;
            border-radius: 12px;
        }
    }
}

.smg {
    img {
        background-color: #CED6D9;
        filter: var(--darkener);
    }
}
.zeguro {
    img {
        background-color: #CDD8CC;
        filter: var(--darkener);
    }
}
.opera {
    img {
        background-color: #D3D1D8;
        filter: var(--darkener);
    }
}
.wetravel {
    img {
        background-color: #E4E0DA;
        filter: var(--darkener);
    }
}
.transit {
    img {
        background-color: #EADBD6;
        filter: var(--darkener);
    }
}

.selected-works__sub-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3em 4em;
    align-items: start;
    width: 100vw;
    padding-top: 2em;
    h1 {
        margin-bottom: 0;
        margin-top: 0;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    @include for-tablet-portrait-up {
        grid-column: 4 / 5;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-self: center;
        align-items: end;
        grid-template-rows: 1fr;
        width: auto;
        padding-top: 0;
        p {
            max-width: 20em;
        }
        h2.thin {
            font-size: 65px;
            line-height: 80px;
        }
    }
}

.selected-works__sub-head {
    @include for-phone-only {
        .item-a {
            grid-column: 1 / 2;
            justify-self: center;
        }
        .item-b {
            grid-column: 2 / 6;
        }
        .item-c {
            grid-column: 1 / 5;
            padding-left: 5%;
            align-self: center;
        }
        .item-d {
            grid-column: 5 / 6;
            align-self: center;
        }
    }
}

.contact-tiles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-top: 1em;
}

.menu-contact .contact-tiles {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-15px);
}

#contact-icon {
    margin-right: 1em;
  }

.dots {
    grid-column: 4 / 5;
    align-self: start;
    margin-top: 4em;
    @include for-phone-only {
        display: none;
    }
}

/* -------------- CASE STUDY CSS -------*/

.study_back {
    position: fixed;
    z-index: 2;
    scale: 0.9;
    margin-top: 2em;
    margin-left: 2em;
}

.study__hero {
    width: 100vw;
    height: 56vh;
}

.opera {
    background-image: url(images/coline.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    @include for-phone-only {
        background-position: center;
    }
}

.study__headline {
    display: grid;
    grid-template-columns:40% 60%;
    margin-top: 3em;
    @include for-phone-only {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.study__headline__header {
    grid-column: 1 / 2;
    align-self: end;
    vertical-align: bottom;
    padding-left: 10%;
    h1 {
        margin-bottom: 0;
    }
    @include for-phone-only {
        grid-column: auto;
        justify-self: start;
        padding-left: 5%;
    }
}

.study__headline__subheader {
    grid-column: 2 / 3;
    align-self: end;
    vertical-align: bottom;
    padding-bottom: 3.1em;
    padding-left: 5%;
    h4 {
        margin: 0;
        padding: 0;
    }
    @include for-phone-only {
        grid-column: auto;
    }
}

.study__metrics {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    margin-top: 3em;
    @include for-phone-only {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 0;
    }
}

.study__metrics__skills {
    grid-column: 2 / 3;
    padding-top: 4.8em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-top: 0;
        padding-left: 5%;
        padding-right: 5%;
        ul {
            padding-left: 0;
        }
    }
}

.study__metrics__project {
    grid-column: 3 / 4;
    padding-right: 3em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.study__metrics__work {
    grid-column: 4 / 5;
    padding-right: 3em;
    @include for-phone-only {
        grid-column: 1 / 2;
        padding-left: 5%;
        padding-right: 5%;
    }
}


.case_images {
    width: 80vw;
    margin-top: 12em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    img {
        object-fit: cover;
        transform-origin: top;
        height: 100%;
        width: 100%;
    }
    @include for-phone-only {
        width: 80vw;
        margin-top: 2em;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        img {
            object-fit: cover;
            transform-origin: top;
            height: 100%;
            width: 100%;
        }
    }
}


.cover {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4em;
    margin-top: 4em;
    justify-items: center;
    @include for-phone-only {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
}

.footer__nav__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img {
        margin-left: 3em;
        margin-right: 3em;
    }
    @include for-phone-only {
        justify-self: start;
        img {
            margin-right: 1em;
        }
    }
    h2 {
        margin-top: 0;
    }
    h4 {
        margin-bottom: .5em;
    }
}

.footer__nav__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    img {
        margin-left: 3em;
        margin-right: 3em;
    }
    @include for-phone-only {
        justify-self: end;
        img {
            margin-left: 0.3em;
        }
    }
    h2 {
        margin-top: 0;
    }
    h4 {
        margin-bottom: .5em;
    }
}
