@font-face {
  font-family: 'Cooper Hewitt';
  src: url("fonts/CooperHewitt-Book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/CooperHewitt-Book.woff") format("woff"), url("fonts/CooperHewitt-Book.svg") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url("fonts/CooperHewitt-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/CooperHewitt-Semibold.woff") format("woff"), url("fonts/CooperHewitt-Semibold.svg") format("svg");
  /* Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url("fonts/CooperHewitt-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/CooperHewitt-ThinItalic.woff") format("woff"), url("fonts/CooperHewitt-ThinItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: 200;
}

/* --------Colors + Themes ------------------------------------------------*/
@media (prefers-color-scheme: dark) {
  body {
    --background-color: #555555;
    --text-color: #F3F3F3;
    --overlay: linear-gradient(0deg, rgba(11,29,105,0.7973390039609594) 28%, rgba(11,29,105,0.44439782749037116) 100%);
    --darkener: brightness(0.8);
    /*
        --personal-overlay: linear-gradient(90deg, rgba(21,33,69,1) 0%, rgba(21,33,69,0.7469188358937324) 48%, rgba(21,33,69,0.39117653897496496) 73%);
        --highlight-color: #BC2B74;
        --icon-filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(29deg) brightness(101%) contrast(113%);
        */
  }
  body.light-theme {
    --background-color: #F3F3F3;
    --text-color: #555555;
    --overlay: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(243,243,243,0.5704482476584384) 53%, rgba(243,243,243,0.4780112728685224) 61%, rgba(243,243,243,0) 100%);
    --darkener: brightness(1);
    /*
        --personal-overlay: linear-gradient(90deg, rgba(246,246,236,1) 0%, rgba(246,246,236,1) 35%, rgba(246,246,236,0) 100%);
        --highlight-color: #21C6E8;
        --icon-filter: invert(0%) sepia(0%) saturate(7486%) hue-rotate(0deg) brightness(107%) contrast(103%);
        */
  }
}

body {
  --background-color: #F3F3F3;
  --text-color: #555555;
  --overlay: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(243,243,243,0.5704482476584384) 53%, rgba(243,243,243,0.4780112728685224) 61%, rgba(243,243,243,0) 100%);
  --darkener: brightness(1);
  /*
    --personal-overlay: linear-gradient(90deg, rgba(246,246,236,1) 0%, rgba(246,246,236,0.6460959383753502) 31%, rgba(246,246,236,0) 50%);
    --highlight-color: #BC2B74;
    --icon-filter: invert(0%) sepia(0%) saturate(7486%) hue-rotate(0deg) brightness(107%) contrast(103%);
    */
}

body.dark-theme {
  --background-color: #555555;
  --text-color: #F3F3F3;
  --overlay: linear-gradient(0deg, rgba(11,29,105,0.7973390039609594) 28%, rgba(11,29,105,0.44439782749037116) 100%);
  --darkener: brightness(0.8);
  /*
    --personal-overlay: linear-gradient(90deg, rgba(21,33,69,1) 0%, rgba(21,33,69,0.7469188358937324) 48%, rgba(21,33,69,0.39117653897496496) 73%);
    --highlight-color: #21C6E8;
    --icon-filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(29deg) brightness(101%) contrast(113%);
    */
}

/* --------Breakpoints ------------------------------------------------*/
/* --------Typography ------------------------------------------------*/
html {
  font-size: 18px;
  line-height: 27px;
}

h1, h2, h4, h3, h5, p, a, ol, li, figcaption {
  color: var(--text-color);
}

h1 {
  font-size: 65px;
  font-weight: 400;
  line-height: 80px;
}

@media (max-width: 599px) {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }
}

h2 {
  font-size: 35px;
  line-height: 42.5px;
  font-weight: 300;
}

@media (max-width: 599px) {
  h2 {
    font-size: 24px;
    line-height: 24px;
  }
}

* {
  font-family: 'Cooper Hewitt', Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.thin {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* --------Landing Page -----------------------------------------------*/
body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  height: 100%;
  position: relative;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.hero-image {
  background-image: var(--overlay), url(images/me.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

@media (min-width: 900px) {
  .hero-image {
    background-image: url(images/me.png);
    background-size: 40%;
  }
}

.hero-intro {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-left: 60px;
}

.hero-intro img {
  margin-top: 3em;
}

@media (max-width: 599px) {
  .hero-intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 4;
        grid-row-start: 4;
    padding-left: 1em;
    padding-right: 1em;
  }
  .hero-intro img {
    height: 48px;
  }
}

.hero-intro .line {
  height: 5.2rem;
  position: relative;
  overflow: hidden;
}

@media (max-width: 599px) {
  .hero-intro .line {
    height: 3.4rem;
  }
}

.hero-intro .line h1 {
  position: absolute;
  line-height: 2rem;
}

/*-----for the split text on hero image-------*/
.spacer {
  margin-top: 3em;
}

@media (max-width: 599px) {
  .spacer {
    margin-top: 0;
  }
}

footer {
  width: 100vw;
  background-color: var(--background-color);
  height: 16px;
}

/* --------The Light / Dark Toggle-----------------------------------------------*/
.toggle {
  cursor: pointer;
}

/* --------END The Light / Dark Toggle-----------------------------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  width: 100vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

@media (max-width: 599px) {
  header {
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
  }
}

header .header__right {
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 599px) {
  header .header__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    scale: .9;
  }
}

header .me__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
  margin-left: -20px;
}

@media (max-width: 599px) {
  header .me__home {
    display: none;
  }
}

header .me__home h4, header .me__home p {
  margin: 0;
  padding: 0;
}

header .me__home img {
  padding-top: 5px;
}

header .me__home p {
  font-size: 12px;
  margin-bottom: -.5em;
}

header .me__home h4 {
  opacity: .75;
  font-size: 12px;
}

header .me__home__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
}

button {
  border-radius: 25px;
}

/* --------Transitions-----------------------------------------------*/
/* ---- Page Transition ----*/
ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

ul.transition li {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: var(--text-color);
  width: 100vw;
  height: 100%;
}

ul {
  list-style: none;
}

/* ---- END Page Transition ----*/
/* --------PopOver Navigation-----------------------------------------------*/
.nav_toggle {
  position: relative;
  display: inline-block;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: transparent;
  padding: 5px;
  height: 50px;
  width: 50px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2em;
}

.nav_toggle p {
  color: var(--text-color);
}

@media (max-width: 599px) {
  .nav_toggle {
    margin-bottom: 0;
    margin-left: 1em;
  }
}

.nav_toggle:hover {
  background-color: #9c7070;
  color: white;
  border-color: #9c7070;
  cursor: pointer;
}

.nav_toggle:hover p {
  color: white;
}

.nav_toggle.active {
  color: white;
  border-color: white;
}

.nav_toggle.active:hover {
  background-color: white;
  color: #9c7070;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% 62%;
      grid-template-columns: 38% 62%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 599px) {
  .nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .nav .nav__right {
    width: 100vw;
  }
}

.nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav__right ul li a {
  font-size: 2rem;
  line-height: 1.8;
  display: inline-block;
  color: black;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

@media (max-width: 599px) {
  .nav__right ul li a {
    font-size: 1.6rem;
    margin-left: -1em;
  }
}

.nav li a:hover {
  color: white;
}

#submenu li a {
  font-size: 1.4rem;
}

@media (max-width: 599px) {
  #submenu li a {
    font-size: 1rem;
  }
}

.nav__left-top {
  background-color: #505050;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__left-top h2, .nav__left-top p {
  color: #DAA9A9;
}

@media (max-width: 599px) {
  .nav__left-top {
    display: none;
  }
}

.nav__left-bottom {
  background-color: #F0F0F0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__left-bottom h1, .nav__left-bottom p {
  color: black;
}

.nav__left-bottom img {
  height: 70px;
}

@media (max-width: 599px) {
  .nav__left-bottom {
    display: none;
  }
}

.nav__right {
  background-color: #DAA9A9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__right ul li {
  text-align: left;
}

.nav__right img {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

@media (max-width: 599px) {
  .nav__right img {
    margin-left: -1em;
  }
}

.vertical-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 3em;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  white-space: nowrap;
  padding-left: 3em;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.vertical-text h2 {
  padding: 0;
  margin: 0;
}

.about-text {
  padding-left: 3em;
  padding-right: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-text a {
  color: #F0F0F0;
  text-decoration: underline;
}

.about-text p {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 3em;
}

.rotated {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  padding-top: .7em;
  padding-left: 2em;
}

/* ------------SELECTED WORKS -------------*/
.margin10 {
  margin-top: 6em;
}

.selected-works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .selected-works {
    -ms-grid-columns: 3em .65fr 2em .35fr 3em;
        grid-template-columns: 3em .65fr 2em .35fr 3em;
    grid-column-gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.selected-works__header {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3em;
  text-align: right;
}

@media (min-width: 600px) {
  .selected-works__header {
    margin-top: 10em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    max-width: 32em;
    -ms-grid-column-align: end;
        justify-self: end;
    padding-left: 0;
    padding-right: 0;
  }
  .selected-works__header h1 {
    margin-bottom: 0;
  }
}

.selected-works__footer {
  padding-bottom: 10em;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  max-width: 32em;
  text-align: left;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: -4em;
  padding-top: 3em;
}

.selected-works__footer h1 {
  margin-bottom: 0;
}

@media (max-width: 599px) {
  .selected-works__footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5em;
  }
}

.selected-works__tile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .selected-works__tile {
    -ms-grid-columns: 3em .65fr 2em .35fr 3em;
        grid-template-columns: 3em .65fr 2em .35fr 3em;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 8em;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    overflow-x: auto;
  }
}

.selected-works__image img {
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 12px;
}

@media (min-width: 600px) {
  .selected-works__image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .selected-works__image img {
    height: 400px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 12px;
  }
}

.smg img {
  background-color: #CED6D9;
  -webkit-filter: var(--darkener);
          filter: var(--darkener);
}

.zeguro img {
  background-color: #CDD8CC;
  -webkit-filter: var(--darkener);
          filter: var(--darkener);
}

.opera img {
  background-color: #D3D1D8;
  -webkit-filter: var(--darkener);
          filter: var(--darkener);
}

.wetravel img {
  background-color: #E4E0DA;
  -webkit-filter: var(--darkener);
          filter: var(--darkener);
}

.transit img {
  background-color: #EADBD6;
  -webkit-filter: var(--darkener);
          filter: var(--darkener);
}

.selected-works__sub-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 3em 4em;
      grid-template-rows: 3em 4em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100vw;
  padding-top: 2em;
}

.selected-works__sub-head h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.selected-works__sub-head h2 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .selected-works__sub-head {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: auto;
    padding-top: 0;
  }
  .selected-works__sub-head p {
    max-width: 20em;
  }
  .selected-works__sub-head h2.thin {
    font-size: 65px;
    line-height: 80px;
  }
}

@media (max-width: 599px) {
  .selected-works__sub-head .item-a {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .selected-works__sub-head .item-b {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .selected-works__sub-head .item-c {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    padding-left: 5%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .selected-works__sub-head .item-d {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.contact-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 1em;
}

.menu-contact .contact-tiles {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#contact-icon {
  margin-right: 1em;
}

.dots {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 4em;
}

@media (max-width: 599px) {
  .dots {
    display: none;
  }
}

/* -------------- CASE STUDY CSS -------*/
.study_back {
  position: fixed;
  z-index: 2;
  scale: 0.9;
  margin-top: 2em;
  margin-left: 2em;
}

.study__hero {
  width: 100vw;
  height: 56vh;
}

.operatists {
  background-image: url(images/coline.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 599px) {
  .operatists {
    background-position: center;
  }
}

.study__headline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  margin-top: 3em;
}

@media (max-width: 599px) {
  .study__headline {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.study__headline__header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  vertical-align: bottom;
  padding-left: 10%;
}

.study__headline__header h1 {
  margin-bottom: 0;
}

@media (max-width: 599px) {
  .study__headline__header {
    grid-column: auto;
    -ms-grid-column-align: start;
        justify-self: start;
    padding-left: 5%;
  }
}

.study__headline__subheader {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  vertical-align: bottom;
  padding-bottom: 3.1em;
  padding-left: 5%;
}

.study__headline__subheader h4 {
  margin: 0;
  padding: 0;
}

@media (max-width: 599px) {
  .study__headline__subheader {
    grid-column: auto;
  }
}

.study__metrics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 5%;
  margin-top: 3em;
}

@media (max-width: 599px) {
  .study__metrics {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-top: 0;
  }
}

.study__metrics__skills {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  padding-top: 4.8em;
}

@media (max-width: 599px) {
  .study__metrics__skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .study__metrics__skills ul {
    padding-left: 0;
  }
}

.study__metrics__project {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  padding-right: 3em;
}

@media (max-width: 599px) {
  .study__metrics__project {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.study__metrics__work {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  padding-right: 3em;
}

@media (max-width: 599px) {
  .study__metrics__work {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.case_images {
  width: 80vw;
  margin-top: 12em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.case_images img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: top;
          transform-origin: top;
  height: 100%;
  width: 100%;
}

@media (max-width: 599px) {
  .case_images {
    width: 80vw;
    margin-top: 2em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .case_images img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform-origin: top;
            transform-origin: top;
    height: 100%;
    width: 100%;
  }
}

.cover {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 4em;
  margin-top: 4em;
  justify-items: center;
}

@media (max-width: 599px) {
  .footer__nav {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.footer__nav__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav__left img {
  margin-left: 3em;
  margin-right: 3em;
}

@media (max-width: 599px) {
  .footer__nav__left {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .footer__nav__left img {
    margin-right: 1em;
  }
}

.footer__nav__left h2 {
  margin-top: 0;
}

.footer__nav__left h4 {
  margin-bottom: .5em;
}

.footer__nav__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav__right img {
  margin-left: 3em;
  margin-right: 3em;
}

@media (max-width: 599px) {
  .footer__nav__right {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .footer__nav__right img {
    margin-left: 0.3em;
  }
}

.footer__nav__right h2 {
  margin-top: 0;
}

.footer__nav__right h4 {
  margin-bottom: .5em;
}
/*# sourceMappingURL=styles.css.map */